@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

html {
    background-color:rgb(248, 238, 206);
}

nav {
    background-color: rgb(239, 185, 123);
    padding: 16px;
    text-align: center;
    font-size: 18px;
 }

a:hover {
  color:rgb(124, 127, 56);
}

a:link {
text-decoration: none;
}

a:visited {
  color: rgb(124, 127, 56);
}

.header1-text {
  color: rgb(172, 122, 13);
  text-align: center;
}

.header-2-text {
  color:rgb(124, 127, 56);
  text-align:center;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

 main {
  margin: 10px;
  /* margin-bottom: 10px; */
  padding: 10px;
 }

 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 table tr:nth-child(even) {
  background-color:rgb(124, 127, 56);
 }

footer {
    background-color: rgb(124, 127, 56);
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    bottom: 0px;
    left: 20px;
    text-align: center;
 }
